@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #016ddc;
  color: #333;
  font-family: "Happy Monkey", system-ui;
  line-height: 1.6;
}

* {
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Navbar Styles */
nav {
  background-color: #0056b3;
  padding: 10px 0;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #fff;
  transform: scale(1.1);
  text-shadow: 2px 2px 0px #000, 3px 3px 0px #ffeb3b;
}

/* Carousel Styles */
.carousel {
  width: 50%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  animation: growShrink 5s infinite ease-in-out;
}

.carousel-item img {
  width: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  animation: toFro 2s infinite ease-in-out;
}

/* Text Styles */
.bigger-font {
  font-size: 1.5rem;
}

.contract-address {
  margin: 0 0 2rem 0;
  text-align: center;
}

.p-rl10 {
  margin: 0 30px;
}

.contract-address input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-shadow: 2px 2px 0px #000;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Section Styles */
.about-pangu, .roost-101, .tokenomics, footer {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.about-pangu {
  background-color: #0056b3;
  color: #fff;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  font-size: 2rem;
  margin: 1rem 0;
  color: #fff;
  text-shadow: 2px 2px 0px #000, 3px 3px 0px #ffff00;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
  text-align: center;
  color: #fff;
}

.step {
  background-color: #0056b3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.step:hover {
  transform: translateY(-5px);
}

.step h3 {
  font-size: 1.5rem;
}

.step p {
  margin-top: 0;
}

.sub-heading {
  text-transform: uppercase;
}

footer {
  background-color: #0056b3;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  margin: 40px 0 0 0;
}

/* Headings and Images */
.head {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  max-width: 100%;
  margin: 0 auto 40px auto;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #fff;
  margin: 0 10px;
  text-shadow: 
    -2px -2px 4px rgba(0, 0, 0, 0.8),  
     2px -2px 4px rgba(0, 0, 0, 0.8),
    -2px  2px 4px rgba(0, 0, 0, 0.8),
     2px  2px 4px rgba(0, 0, 0, 0.8);
}

.wave-border {
  border: 10px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.wave-border img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image {
  max-width: 500px;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

/* Cloud Text */
.cloud-text {
  background: url('./images/cloud.png') no-repeat center center;
  background-size: cover;
  max-width: 350px;
  padding: 100px;
  font-weight: 700;
}

.white-font {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .marquee {
    font-size: 1.5rem;
  }
  .head {
    font-size: 2rem;
  }
  .step {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .step {
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .main-image {
    width: 100%;
  }

  .main-image img {
    width: 100vw;
    margin: auto 0;
  }

  .cloud-text {
    padding: 70px;
    font-size: 16px;
  }

  .cloud-text p{
    width: 250px;
  }

  .carousel {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
}
